.inner_content h2{
    text-align: center;
    border-style: none;
}
.goods img{
    width: 40%;
}
.goods_img{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.goods section p{
    display: block;
    margin: 20px;
}
.goods section{
    margin-bottom: 30px;
    padding: 30px;
    border: 2px solid #CEA34F;
}