table{
    margin: 20px;
}
.Maps{
    position: absolute;
    text-align: center;
    margin: auto;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    background-color: white;
    border: 3px solid #CEA34F;
}

.Excel{
    transform-origin: center;
    text-align: center;
    margin: auto;
    transform: scale(1.4);
    
    /* max 1580px(1.2) min 1080px(0.9) */
}

.Map_parent{
    position: relative;
    margin: 0 auto 30px auto;
    text-align: center;
    width: 90vw;
    background-color: #c53d43;
    clip-path: polygon(0 15px,0 calc(100% - 15px),15px 100%,calc(100% - 15px) 100%,100% calc(100% - 15px),100% 15px,calc(100% - 15px) 0,15px 0);
    & a{
        font-size: 20pt;
    }
}

#map_0{
    width: auto;
    margin: auto;
}
@media screen and (max-width:1080px){
    .Maps{
        transform-origin: bottom left;
        /* transform: rotate(90deg) translateY(50%) translateX(-143.5px); */
    }
}
td a{
    text-decoration: none;
    color: black;
}
td.Homeroom a,td.Homeroom p{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 22pt;
}
td p{
    color: black;
}
td img{
    height: 101%;
    width: 101%;
    object-fit: fill;
}
.background_darkgray{
    background-color:rgb(97, 95, 95) !important;
}
.background_palegray{
    background-color:rgb(220, 220, 220);
}
.background_more_palegray{
    background-color:rgb(245, 245, 245);
}

/* .Choice_parent{
    position: relative;
    width: 155px;
    height: 60px;
    padding: 16px 10px;
    background-color: black;
    clip-path: polygon(20px 0,0 50%,20px 100%,calc(100% - 20px) 100%,100% 50%,calc(100% - 20px) 0);
} */

.Map_choices{
    /* position: absolute;
    top: 0;
    left: 0; */
    position: relative;
    width: 155px;
    height: 60px;
    padding: 12px 10px;
    /* border: 2px solid #CEA34F; */
    background-color: #CEA34F;
    /* clip-path: polygon(5px 0,0% 50%,5px 100%,calc(100%-5px) 100%,100% 50%,calc(100%-5px) 0%); */
    clip-path: polygon(20px 0,0 50%,20px 100%,calc(100% - 20px) 100%,100% 50%,calc(100% - 20px) 0);
    /* box-shadow: 10px 5px 5px white; */
    transform-origin: center;
    color: white;
    text-decoration: none;
    animation: down 0.3s forwards;
}
.Map_choices::before{
    content: "";
    position: absolute;
    inset: 6px;
    background-color: #4d5aaf;
    clip-path: inherit;
    z-index: -1;
    box-shadow: 5px 5px 5px gray;
}
.Map_choices:hover{
    animation: down2 0.3s forwards;
}
.Map_choices:hover::before{
    animation: down4 0.3s forwards;
}
@keyframes down2{
    0%{
        transform: translateX(0) translateY(0);
        background-color: #CEA34F;
        color: white;
    }
    100%{
        transform: translateX(3px) translateY(3px);
        background-color: #932e33;
        color: black;
    }
}
@keyframes down{
    100%{
        transform: translateX(0) translateY(0);
        background-color: #CEA34F;
        color: white;
    }
    0%{
        transform: translateX(3px) translateY(3px);
        background-color: #932e33;
        color: black;
    }
}
@keyframes down4{
    0%{
        /* transform: translateX(0) translateY(0); */
        background-color: #4d5aaf;
    }
    100%{
        /* transform: translateX(3px) translateY(3px); */
        background-color: #CEA34F;
    }
}
@keyframes down3{
    100%{
        /* transform: translateX(0) translateY(0); */
        background-color: #4d5aaf;
    }
    0%{
        /* transform: translateX(3px) translateY(3px); */
        background-color: #CEA34F;
    }
}
a.Select{
    animation: down2 0.3s forwards;
}
a.Select::before{
    animation: down4 0.3s forwards;
}

a.Select_cancel{
    animation: down 0.3s forwards;
}
a.Select_cancel::before{
    animation: down3 0.3s forwards;
}
.Tenziroom{
    animation: floats_re 0.3s forwards;
}
.Tenziroom:hover{
    animation: floats 0.3s forwards;
}
@keyframes floats{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-5px);
        background-color: #CEA34F;
    }
}
@keyframes floats_re{
    100%{
        transform: translateY(0);
    }
    0%{
        transform: translateY(-5px);
        background-color: #CEA34F;
    }
}

.over_view_box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    z-index: 10000;
    background-color: rgb(227, 227, 227);
    color: black;
    padding: 5px 20px;
    border: 5px solid #CEA34F;
    z-index: 10;
    box-shadow: 15px 15px 5px black;
    & a.batsu_hanteiyou{
        position: absolute;
        top: 5px;
        right: 8px;
        height: 31.1px;
        width:31.1px;
    }
    & h3,p{
        color: black;
    }
    & h3::after{
        position: absolute;
        content: "";
        height:1em;
        width: 0.1em;
        background-color: #c53d43;
        top: -0em;
        right: 0.5em;
        transform: rotate(-45deg);
    }
    & h3::before{
        position: absolute;
        content: "";
        height:1em;
        width: 0.1em;
        background-color: #c53d43;
        top: -0em;
        right: 0.5em;
        transform: rotate(45deg);
    }
    & a:hover{
        color: #c53d43;
    }
    /* padding: ; */
}

td{
    border-color: black;
}
tr{
    border-color: black;
}

.hokensitu{
    display: block;
    width: 60%;
    margin: 5px auto 0px auto;
}

img.hanen{
    width: 105%;
    height: 115%;
}