table{
    margin: 20px;
}
.Maps{
    position: absolute;
    text-align: center;
    margin: auto;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    background-color: white;
}

.Excel{
    transform-origin: center;
    text-align: center;
    margin: auto;
    transform: scale(1.4);
    
    /* max 1580px(1.2) min 1080px(0.9) */
}

.Map_parent{
    position: relative;
    margin: auto;
    text-align: center;
    width: 90vw;
    background-color: brown;
    & h3{
        font-size: 20pt;
    }
}

#map_0{
    width: auto;
    margin: auto;
}
@media screen and (max-width:1080px){
    .Maps{
        transform-origin: bottom left;
        transform: rotate(90deg) translateY(50%) translateX(-170px);
    }
}
td a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 22pt;
}
td p{
    color: black;
}
td img{
    height: 101%;
    width: 101%;
    object-fit: fill;
}
.background_darkgray{
    background-color:rgb(97, 95, 95);
}
.background_palegray{
    background-color:rgb(187, 187, 187);
}
.background_more_palegray{
    background-color:rgb(245, 245, 245);
}