* { 
    margin: 0px; 
    padding: 0px;
}
p,h1,h2,h3{
    color: white;
}
/* .humbergar{
    display: none;
} */
.sp_nav{
    display: none;
}
html {scroll-behavior: smooth;}
.kotei{
    width: 100%;
    display: block;
    position: fixed;
    z-index: 2;
}
#hontai{
    /* top: 157px; */
    padding-top: 157px;
    /* margin-top:-157px; */
    position: relative;
    display: flex;
    z-index: 1;
}
.main_content{
    width: 90%;
}
.side_content{
    display: none;
    margin: 0 5% 0 2%;
}
@media screen and (max-width:1190px){
    .side_content{
        display: none;
    }   
}
/* .twitter-tweet{
    padding: 0 60px 0 60px;
} */

.twitter{
    padding-bottom: 20px;
    font-size: 30px;
    animation: fuwafuwa 2s linear infinite;
}

@keyframes fuwafuwa{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
}

.sticky{
    position: sticky;
    top: 157px;
    text-align: center;
}
body{
    /* background: linear-gradient(-45deg,#bc3435 10%,white); */
    /* background-attachment:fixed; */
    background-color: /* rgb(0, 0, 83) */#44617b;
}
.red{
    color: red;
}
.blue{
    color:blue;
}
.back_yellow{
    background-color: yellow;
}
.table{
    height: 82px;
    border-collapse:collapse;
    display:flex;/* headerに入れるならblock varに入れるならtable */
    position: relative;
    z-index: 10;
    margin: 0 0 auto auto;
}
header{
    background-color: white;
    position: relative;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 5;
    
}
header p a.utage{
    text-decoration: none;
    color: black;
}
header p{
    color: black;
    margin:auto 0 auto 160px;    
    font-size: 30pt;
    font-family: "HG行書体";
    overflow-wrap: break-word;
}
header b{
    font-size: 40pt;
    background:linear-gradient(white,red,rgb(0, 0, 83));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.05px black;
    
}
header p span{
    display: inline-block;
}

.wrap{
    position: relative;
    min-height: 95vh;
    padding-bottom: 78px;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    background-color:#4d5aaf;
    
}
.footer p{
    color: black;
}
@font-face{
    font-family: "7seg";
    src: url("../font/DSEG7Modern-Italic.ttf") format("truetype");
}
@font-face{
    font-family: "14seg";
    src: url("../font/DSEG14Modern-Italic.ttf") format("truetype");
}
@font-face{
    font-family: "dot_12";
    src: url("../font/JF-Dot-Shinonome12.ttf") format("truetype");
}
@font-face{
    font-family: "makinas_flat";
    src: url("../font/Makinas-4-Flat.otf") format("opentype");
}
@font-face{
    font-family: "makinas_square";
    src: url("../font/Makinas-4-Square.otf") format("opentype");
}
.counter{
    font-family: "7seg";
    padding:2px 5px 0px 0px;
    /* border:2px solid aqua; */
    border: 8px ridge rgb(76, 225, 251,1);
    /* border: 10px groove rgba(76, 225, 251); */
    background-color: rgb(255, 211, 130);
    color: black;
    margin: auto 0px;
    font-size: 30px;
    min-width: 390px;
    height: 40px;
    text-align: right;
    
}
.counter_str{
    font-family: "makinas_square";
    font-size: 33px;
}


.serch{
    position: relative;
    /* margin: auto 40px auto auto; */
}
input.serchbox{
    top: 0;
    padding: 5px 36px 5px 12px;
    height: 35px;
    width: 300px;
    font-size: 20px;
    margin-left:160px;
    vertical-align:middle
}
.rens{
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    left: 480px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

}
/* input.serchbox::before{
    content: url();
} */

/* .serchbox::after{
    content:url("image/magnifying_glass2.png");
    width: 25px;
    position: absolute;
    cursor: pointer;
    left: 480px;
    top: 0px;
    display: block;
    
} */
div.serchbox_parent{
    position: relative;
    margin: auto 10px;
}





nav#line1{
    position: relative;
    width: 100%;
    height: 75px;
    font-size: 50px;
    background-color:#c53d43;
    z-index: 3;

}
#logo{
    /* display: table-cell; */
    position: absolute;
    top: 0;
    left: 0;
    height: 157px;
    z-index: 7;
    opacity: 1.5;
}

header ul li ul li,header ul li ul div a li{
    height: 58.5px;
    text-align: center;
    width: 100px;
    font-size: 20px;
    padding-top: 23.5px;
    margin: 0%;
    background-color:/* rgb(142, 233, 236) */darkblue;
    color: white;
    border-top:1.5px solid white;
}
header ul li ul a{
    text-decoration: none;
}
/* nav ul li ul :last-child{
    border-bottom:1.5px none white;
} */
@keyframes view{
    1%{ 
        transform: translateY(-10%);
        opacity: 0;
        list-style: none;
        display: block;
        /* display: none; */
        /* visibility: hidden; */
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
        list-style: none;
        display: block;
        /* visibility: visible; */
    }
    0%{
        transform: translateY(-1000%);
        opacity: 0;
        list-style: none;
        display: block;
        /* visibility: visible; */
    }
}
@keyframes view_out{
    99%{ 
        transform: translateY(-10%);
        opacity: 0;
        list-style: none;
        display: block;
        /* display: none; */
        /* visibility: hidden; */
    }
    0%{
        transform: translateY(0%);
        opacity: 1;
        list-style: none;
        display: block;
        /* visibility: visible; */
    }
    100%{
        transform: translateY(-1000%);
        opacity: 0;
        list-style: none;
        display: none;
        /* visibility: visible; */
    }
}




#suf1{
    z-index: 2;
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf1.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf1.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}

#suf2{
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf2.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf2.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}

#suf3{
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf3.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf3.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}

#suf4{
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf4.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf4.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}

#suflast{
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suflast.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suflast.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}


.ze{
    list-style: none;
    /* display: table-cell; */
}
.fi{
    border-top:1.5px none white;
    border-right: 3px solid white;
    list-style: none;
}
.last{
    border-right: 3px none white;
}
header ul li ul li:hover{
    color: blueviolet;
}


.inner_content h1{
    font-size: 40px;
    min-width: 50%;
    border-left: 20px solid lightblue;
    border-bottom: 4px dotted lightblue;
}
.inner_content h2{
    min-width: 20%;
    max-width: 60%;
    font-size: 30px;
    border-left: 20px double rgb(186, 199, 203);
    margin-bottom: 20px;
}

div.news p{
    margin-left: 20px;
    font-size: 25px;
    margin-bottom: 10px;
}


.inner_content{
    padding: 165px 10px 10px 10px;
    margin-top: -157px;
    margin-left: 7%;
    /* width: 75%; */
    /* margin-bottom: 100px; */
}
.all_view{
    flex-wrap: wrap;
    display: flex;
}
.view{
    align-items:flex-end;
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    border: 3px groove white;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.view h3{
    font-weight:bold;
    font-size: 40px;
    height: 50px;
    border-bottom: 4px dotted white;
    margin: 5px;
}
.view p{
    margin: 5px;
}

div.news_topics{
    position: relative;
    z-index: 100;
    margin-left:20px ;
    margin-bottom: 30px;
    width: 90%;
    box-shadow: 10px 10px 10px 0px black;
    border: 3px solid black;
    animation: news_hover_re 0.2s linear forwards;
}

div.news_topics:hover{
    /* box-shadow: 15px 15px 10px 10px gray;
    border: 3px solid black;
    transform: translateX(-10px) translateY(-10px); */
    animation: news_hover 0.2s linear forwards;
}
@keyframes news_hover{
    0%{
        margin-left:20px ;
    margin-bottom: 30px;
    width: 90%;
    box-shadow: 10px 10px 10px 0px black;
    border: 3px solid black;
    }
    100%{
        box-shadow: 15px 15px 10px 10px gray;
    border: 3px solid black;
    transform: translateX(-10px) translateY(-10px);
    }
}
@keyframes news_hover_re{
    100%{
        margin-left:20px ;
    margin-bottom: 30px;
    width: 90%;
    box-shadow: 10px 10px 10px 0px black;
    border: 3px solid black;
    }
    0%{
        box-shadow: 15px 15px 10px 10px gray;
    border: 3px solid black;
    transform: translateX(-10px) translateY(-10px);
    }
}

div.news_topics a{
    text-decoration: none;
    color: black;
}

div.news_topics a h3{
    font-size: 30px;
    border-bottom: 3px dotted black;
}
h4.over{
    font-size: 20px;
    text-align: right;
    margin-top: auto;
}
div.news_topics a p{
    font-size: 25px;
}

.inner_content img.base{
    max-width: 70%;
}
.img_link{
    list-style: none;
}
.img_link li{
    max-width: 70px;
}
.excel_imgs{
    position: relative;
}
.excel_img{
    margin-bottom: 30px;
    opacity: 0;
    left: 0;
    display: inline-block;
    position: absolute;
}
#img_a1.op0{
    opacity: 1;
    z-index: 101;
}
#img_a1.op0_out{
    opacity: 0;
    z-index: 0;
}
#img_d3.op0{
    opacity: 1;
    z-index: 101;
}
#img_d3.op0_out{
    opacity: 0;
    z-index: 0;
}

.origin{
    width: fit-content;
    opacity: 1;
    display: inline-block;
    position: relative;
    z-index: 100;
}

.a1_cell{
    min-width: none;
    color: black;
    z-index: 0;
}
.d3_cell{
    z-index: 0;
    min-width: none;
    color: black;
}

.a1_cell:hover{
    color: purple;
}
.d3_cell:hover{
    color: purple;
}

.map_demo{
    flex-wrap: wrap;
    display: flex;
}
.img_link{
    margin-left: 30px;
}

.gray_back{
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
    z-index: 4;
}
#gray_back.off,#front_cherry.off,#front_flower.off{
    display: none;
}
#gray_back.on,#front_cherry.on,#front_flower.on{
    display: block;
}



.img_front{
    display: block;
}
.over_img{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
}
td{
    /* box-shadow: 10px 10px 10px 0px red; */
}
td.target_cell{
    background-color: white;
    padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	/* font-size:11.0pt; */
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:���S�V�b�N, monospace;
	mso-font-charset:128;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
    border:1.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;
    transform: translateY(0px);

    font-size: 40pt;
    animation: flow_re 0.2s ease-in forwards;
}
.target_cell:hover{

    /* position: relative; */
    font-size: 40pt;
    animation: flow 0.2s ease-in forwards;
    
}
@keyframes flow{
    0%{
    transform: translateY(0px);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
    }
    100%{
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.7);
    }
}
@keyframes flow_re{
    100%{
        transform: translateY(0px);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
    }
    0%{
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.7);
    }
}

.test_table{
    font-size: 25px;
}
.test_table td{
    background-color: white;
}
.test_table td:hover{
    background-color: yellow;
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
}

/*  h1::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%;
    background-color: aqua;
} */


.inner_content h1.part_h1{
    text-align: center;
    width: fit-content;
    border: none;
    margin: 30px auto;
}
.part{
    border: 2px solid white;
    border-radius: 10px;
    margin:5px 0 30px 0 ;
    font-size: 20px;
    background-color: #4d5aaf;
}
.part h2{
    position:relative;
    border: none;
    font-size: 25px;
    margin: 0;
    margin: 0 0 0 1em;
}
.part p{
    margin: 0 2em 1em 2em;
    background-color: #c53d43;
    border-radius: 10px;
}
.iro_change{
    color: #c53d43;
}

.part h2::before{
    content: "";
    background-color: white;
    width: 1em;
    height: 0.2em;
    position: absolute;
    left: -0.5em;
    top: 0.6em;
    rotate: 0deg;
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}
.part h2::after{
    content: "";
    background-color: white;
    width: 0.2em;
    height: 1em;
    position: absolute;
    left: -0.5em;
    top: 0.6em;
    rotate: 0deg;
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}