* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "行書体2000";
    src: url("../font/HGRGY.TTC") format("truetype");
}
p,h2,h3{
    color: white;
}
h1{
    color: white;
}
h3{
    text-align: center;
}
/* .humbergar{
    display: none;
} */
.sp_nav{
    display: none;
}
a{
    color: #c53d43;
}
html {
    scroll-behavior: smooth;
    max-width: calc(100vw - 20px);
}
/* #op_kotei{
    display:hidden;
} */
.kotei{
    width: 95vw;
    display: block;
    position: fixed;
    z-index: 2;
}
#hontai{
    /* top: 157px; */
    /* margin-top:-157px; */
    position: relative;
    z-index: 1;
    width: calc(100vw - 20px);
}
.main_content{
    width: calc(100vw - 20px);
    margin-bottom: 140px;
}
.side_content{
    display: none;
    margin: 0 5% 0 2%;
}
@media screen and (max-width:1190px){
    .side_content{
        display: none;
    }   
}
.Flex{
    display: flex;
}
.Flex_wrap{
    flex-wrap: wrap;
    justify-content:center;
}
.Flex_left{
    justify-content: left;
}
.Align_center{
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.Width_fitcontent{
    width: fit-content;
}
/* .twitter-tweet{
    padding: 0 60px 0 60px;
} */

.twitter{
    padding-bottom: 20px;
    font-size: 30px;
    animation: fuwafuwa 2s linear infinite;
}

@keyframes fuwafuwa{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
}
#index_video{
    position: fixed;
}
.sticky{
    position: sticky;
    top: 157px;
    text-align: center;
}
body{
    /* background: linear-gradient(-45deg,#bc3435 10%,white); */
    /* background-attachment:fixed; */
    position: relative;
    background-color: /* rgb(0, 0, 83) *//* #44617b */#283A4D;
    width: calc(100vw - 20px);
}
.red{
    color: red;
}
.blue{
    color:blue;
}
.back_yellow{
    background-color: yellow;
}
.table{
    height: 55px;
    border-collapse:collapse;
    display:flex;/* headerに入れるならblock varに入れるならtable */
    position: relative;
    z-index: 10;
    margin: auto 20px auto auto;
}
header{
    background-color: #283A4D;
    position: relative;
    display: flex;
    width: calc(100vw - 20px);
    padding: 0;
    margin: 0;
    z-index: 5;
    border-bottom: 6px solid #c53d43;
    /* height: fit-content; */
    min-height: 100px;
}
header p a.utage{
    text-decoration: none;
    color: black;
}
header a.utage{
    margin:auto 0 auto 160px;
}
header p{
    color: white;    
    font-size: 30pt;
    font-family: "行書体2000";
    overflow-wrap: break-word;
}
@media screen and (max-width:1415px){
    header p{
        display: none;
    }   
}
header b{
    font-size: 40pt;
    background:linear-gradient(#CEA34F 35%,red,white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.05px black;
    
}
header p span{
    display: inline-block;
}

.wrap{
    position: relative;
    min-height: 100vh;
    padding-bottom: 78px;
    width: calc(100vw - 20px);
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - 20px);
    text-align: center;
    padding: 30px 0px;
    background-color:#4d5aaf;
    
}
.footer p{
    color: white;
}
@font-face{
    font-family: "7seg";
    src: url("../font/DSEG7Modern-Italic.ttf") format("truetype");
}
@font-face{
    font-family: "14seg";
    src: url("../font/DSEG14Modern-Italic.ttf") format("truetype");
}
@font-face{
    font-family: "dot_12";
    src: url("../font/JF-Dot-Shinonome12.ttf") format("truetype");
}
@font-face{
    font-family: "makinas_flat";
    src: url("../font/Makinas-4-Flat.otf") format("opentype");
}
@font-face{
    font-family: "makinas_square";
    src: url("../font/Makinas-4-Square.otf") format("opentype");
}
.counter{
    font-family: "7seg";
    padding:2px 5px 0px 0px;
    /* border:2px solid aqua; */
    border: 8px ridge rgb(76, 225, 251,1);
    /* border: 10px groove rgba(76, 225, 251); */
    background-color: rgb(255, 211, 130);
    color: black;
    margin: auto 0px;
    font-size: 30px;
    min-width: 390px;
    height: 40px;
    text-align: right;
    
}
.counter_str{
    font-family: "makinas_square";
    font-size: 33px;
}


.serch{
    position: relative;
    /* margin: auto 40px auto auto; */
}
input.serchbox{
    top: 0;
    padding: 5px 36px 5px 12px;
    height: 35px;
    width: 300px;
    font-size: 20px;
    margin-left:160px;
    vertical-align:middle;
    background-color: #4d5aaf;
}
.rens{
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    left: 480px;
    top: calc(50% + 3px);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
/* input.serchbox::before{
    content: url();
} */

/* .serchbox::after{
    content:url("image/magnifying_glass2.png");
    width: 25px;
    position: absolute;
    cursor: pointer;
    left: 480px;
    top: 0px;
    display: block;
    
} */
div.serchbox_parent{
    position: relative;
    margin: auto 10px;
}





nav#line1{
    position: relative;
    width: 100vw;
    height: 75px;
    font-size: 50px;
    background-color:#283A4D;
    z-index: 3;
    border-bottom: 6px solid #c53d43;
    display: none;

}
#logo{
    /* display: table-cell; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 7;
    opacity: 1.5;
}

header ul li ul li,header ul li ul div a li{
    height: 40px;
    text-align: center;
    width: fit-content;
    font-size: 20px;
    font-family: "行書体2000";
    padding: 13.5px 0px 0 0px;
    margin: 0 10px;
    background-color:/* rgb(142, 233, 236) */#283A4D;
    color: white;
    border-top:1.5px solid white;
    /* border-bottom: 3px solid white; */
    /* padding: ; */
}
header ul li ul div a li{
    width: 100%;
    padding: 13.5px 0px 0 0px;
    position: relative;
}


header ul li ul a{
    text-decoration: none;
}
/* nav ul li ul :last-child{
    border-bottom:1.5px none white;
} */
@keyframes view{
    1%{ 
        transform: translateY(-10%);
        opacity: 0;
        list-style: none;
        display: block;
        /* display: none; */
        /* visibility: hidden; */
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
        list-style: none;
        display: block;
        /* visibility: visible; */
    }
    0%{
        transform: translateY(-1000%);
        opacity: 0;
        list-style: none;
        display: block;
        /* visibility: visible; */
    }
}
@keyframes view_out{
    99%{ 
        transform: translateY(-10%);
        opacity: 0;
        list-style: none;
        display: block;
        /* display: none; */
        /* visibility: hidden; */
    }
    0%{
        transform: translateY(0%);
        opacity: 1;
        list-style: none;
        display: block;
        /* visibility: visible; */
    }
    100%{
        transform: translateY(-1000%);
        opacity: 0;
        list-style: none;
        display: none;
        /* visibility: visible; */
    }
}




#suf1{
    z-index: 2;
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
}
#suf1.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf1.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}

#suf2{
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf2.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf2.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}

#suf3{
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf3.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf3.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}

#suf4{
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf4.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf4.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}


#suf5{
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf5.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf5.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}
#suf6{
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf6.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf6.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}
#suf7{
    z-index: 2;
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf7.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf7.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}
#suf8{
    z-index: 2;
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf8.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf8.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}
#suf9{
    z-index: 2;
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suf9.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suf9.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}

#suflast{
    position: relative;
    list-style: none;
    display: none;
    
    opacity: 0;
}
#suflast.fi_line_anime{
    display: block;
    
    animation: view 0.5s forwards;
}
#suflast.fi_line_anime_remove{
    position: relative;
    list-style: none;
    display: none;
    opacity: 0;
    animation: view_out 0.5s forwards;
}


.ze{
    list-style: none;
    /* display: table-cell; */
}
.fi{
    border-top:1.5px none white;
    /* border-right: 3px solid white; */
    list-style: none;
}
#ze_fi{
    /* border-left: 3px solid white; */
}
.last{
    /* border-right: 3px none white; */
}
header ul li ul li:hover{
    color: #c53d43;
}


.inner_content h1{
    font-size: 40px;
    min-width: 50%;
    border-left: 20px solid /* lightblue */#CEA34F;
    border-bottom: 4px dotted /* lightblue */#CEA34F;
}
.inner_content h2{
    font-size: 30px;
    border-left: 20px double rgb(186, 199, 203);
    margin-bottom: 20px;
}
div.news p{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    margin-bottom: 10px;
    border: 3px solid #CEA34F;
    padding: 20px;
}


.inner_content{
    /* padding: 10px 10px 10px 10px; */
    width: 80vw;
    margin: auto;
    /* margin-left: 7%; */
    /* width: 75%; */
    /* margin-bottom: 10all_view0px; */
}

.all_view div.view_in{
    animation: view_in 0.4s ease-in-out forwards;
}
.all_view div.view_out{
    animation: view_out 0.4s ease-in-out forwards;
}
@keyframes view_in{
    0%{
        max-height: 352px;
        overflow: hidden;
    }
    99.5%{
        max-height: 520px;
    }
    100%{
        max-height: fit-content;
        height: fit-content;
    }
}
@keyframes view_out{
    100%{
        max-height: 352px;
        overflow: hidden;
    }
    0.5%{
        max-height: 520px;
    }
    0%{
        max-height: fit-content;
        height: fit-content;
    }
}
.view h3{
    font-weight:bold;
    font-size: 30pt;
    /* border-bottom: 4px dotted white; */
    margin: auto;
}
.view{
    align-items:flex-end;
    flex: 1 0 352px;
    max-width: 352px;
    min-height: 352px;
    max-height: 352px;
    /* min-height: 300px;
    min-width: 300px;
    max-width: 300px; */
    border: 3px groove #CEA34F;
    /* border-radius: 20px; */
    margin-bottom: 10px;
    margin-left: 10px;
    height: fit-content;
& a.Groupes_top{
    align-items: center;
    text-align: center;
    /* display: flex; */
    text-decoration: none;
& img.Logo_Img{
    height: 170px;
    width: 170px;
    margin: auto 0;
    margin-top: 20px;
}
& img.Arrow{
    display: block;
    height: 50px;
    margin: auto;
    transform: rotate(180deg);
}
& h4{
    font-weight:bold;
    font-size: 16pt;
    /* border-bottom: 4px dotted white; */
    margin: auto 0 0 1em;
    color: white;
}
}

& section{
    margin: 20px;
    display: none;
& a{
    color: #c53d43;
}
}
}
/* .view h3{
    font-weight:bold;
    font-size: 40px;
    height: 50px;
    border-bottom: 4px dotted white;
    margin: 5px;
} */
.view p{
    margin: 5px;
}

div.news_topics{
    position: relative;
    z-index: 100;
    margin-left:20px ;
    margin-bottom: 30px;
    width: 90%;
    background-color: #44617b;
    box-shadow: 10px 10px 10px 0px black;
    border: 3px solid #CEA34F;
    animation: news_hover_re 0.2s linear forwards;
}

div.news_topics:hover{
    /* box-shadow: 15px 15px 10px 10px gray;
    border: 3px solid black;
    transform: translateX(-10px) translateY(-10px); */
    animation: news_hover 0.2s linear forwards;
}
@keyframes news_hover{
    0%{
        margin-left:20px ;
    margin-bottom: 30px;
    width: 90%;
    box-shadow: 10px 10px 10px 0px black;
    border: 3px solid #CEA34F;
    }
    100%{
        box-shadow: 15px 15px 10px 10px gray;
    transform: translateX(-10px) translateY(-10px);
    border: 3px solid #f6d89c;
    }
}
@keyframes news_hover_re{
    100%{
        margin-left:20px ;
    margin-bottom: 30px;
    width: 90%;
    box-shadow: 10px 10px 10px 0px black;
    border: 3px solid #CEA34F;
    }
    0%{
        box-shadow: 15px 15px 10px 10px gray;
    transform: translateX(-10px) translateY(-10px);
    border: 3px solid #f6d89c;
    }
}

div.news_topics a{
    text-decoration: none;
    color: black;
}

div.news_topics a h3{
    font-size: 30px;
    border-bottom: 3px dotted #CEA34F;
}
h4.over{
    font-size: 20px;
    text-align: right;
    margin-top: auto;
}
div.news_topics a p{
    font-size: 25px;
}

.inner_content img.base{
    max-width: 70%;
}
.img_link{
    list-style: none;
}
.img_link li{
    max-width: 70px;
}
.excel_imgs{
    position: relative;
}
.excel_img{
    margin-bottom: 30px;
    opacity: 0;
    left: 0;
    display: inline-block;
    position: absolute;
}
#img_a1.op0{
    opacity: 1;
    z-index: 101;
}
#img_a1.op0_out{
    opacity: 0;
    z-index: 0;
}
#img_d3.op0{
    opacity: 1;
    z-index: 101;
}
#img_d3.op0_out{
    opacity: 0;
    z-index: 0;
}

.origin{
    width: fit-content;
    opacity: 1;
    display: inline-block;
    position: relative;
    z-index: 100;
}

.a1_cell{
    min-width: none;
    color: black;
    z-index: 0;
}
.d3_cell{
    z-index: 0;
    min-width: none;
    color: black;
}

.a1_cell:hover{
    color: purple;
}
.d3_cell:hover{
    color: purple;
}

.map_demo{
    flex-wrap: wrap;
    display: flex;
}
.img_link{
    margin-left: 30px;
}

.gray_back{
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
    z-index: 4;
}
#gray_back.off,#front_cherry.off,#front_flower.off{
    display: none;
}
#gray_back.on,#front_cherry.on,#front_flower.on{
    display: block;
}



.img_front{
    display: block;
}
.over_img{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
}
td{
    /* box-shadow: 10px 10px 10px 0px red; */
}
td.target_cell{
    background-color: white;
    padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	/* font-size:11.0pt; */
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:���S�V�b�N, monospace;
	mso-font-charset:128;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
    border:1.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;
    transform: translateY(0px);

    font-size: 40pt;
    animation: flow_re 0.2s ease-in forwards;
}
.target_cell:hover{

    /* position: relative; */
    font-size: 40pt;
    animation: flow 0.2s ease-in forwards;
    
}
@keyframes flow{
    0%{
    transform: translateY(0px);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
    }
    100%{
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.7);
    }
}
@keyframes flow_re{
    100%{
        transform: translateY(0px);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
    }
    0%{
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.7);
    }
}

.test_table{
    font-size: 25px;
}
.test_table td{
    background-color: white;
}
.test_table td:hover{
    background-color: yellow;
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
}

/*  h1::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%;
    background-color: aqua;
} */

.intro_part{
    margin: auto;
    width: 80%;
}

.inner_content h1{
    font-size: 60px;
    text-align: center;
    width: fit-content;
    border: none;
    margin: 30px auto;
    /* -webkit-text-stroke: 1px black; */
    font-family: "行書体2000";
}

.inner_content h2.part_h1,.front_content h2.front{
    text-align: center;
    width: fit-content;
    border: none;
    margin: 30px auto;
}


.part{
    position: relative;
    border: 2px solid /* white */#CEA34F;
    border-radius: 10px;
    margin:35px auto;
    font-size: 25px;
    width: 400px;
    /* background-color: #4d5aaf; */
& .Pl_name{
        padding-right: 10px;
        font-size: 15px;
        text-align: right;
        margin: 0;
}
& img{
    width: 170px;
    margin: 20px auto;
}
}
.part h2{
    position:relative;
    border: none;
    font-size: 25px;
    margin: 0;
    margin: 0 0 0 0;
    text-align: center;
}
.part p{
    margin: 0 1em 0 1em;
    border-radius: 10px;
    font-size: 20px;
}
.iro_change{
    color: black;
}
.iro_change2{
    color: yellow;
}
.iro_change3{
    color: blue;
}
.iro_change4{
    color: rgba(255, 255, 255, 0.5);
}
.uwaaaaa{
    color: purple;
}

/* .part::before{
    content:"";
    width: 1em;
    height: 1em;
    position: absolute;
    background-color: white;
    opacity: 0;
    left: 2px;
    top: 2px;
    z-index: 7;
    cursor: pointer;
} */
.front_content{
    width: 50vw;
    min-width: 685px;
    margin: auto auto auto auto;
    padding: 0;
    /* transform: translateX(0px); */
}
.front_content#front{
    width: 97vw;
    text-align: center;
}
.front_content{
    position: relative;
    text-align: center;
}
.front_content img.Topimg{
    width: 100%;
    aspect-ratio: 16/9;
    margin: 0 auto;
}
.opening video{
    height: 99vh;
    width: calc(100vw - 20px);
}
#index_op.out_anime{
    animation: out_video 1s ease-in-out forwards;
}
@keyframes out_video{
    0%{
        opacity: 1;
        transform: translateY(0vh);
    }
    100%{
        opacity: 0;
        transform: translateY(-100vh);
        display: none;
    }
}
#other_op{
    display: none;
}
#other_op.in_anime{
    animation: in_other 1s ease-in-out forwards;
}
@keyframes in_other{
    0%{
        opacity: 0;
        transform: translateY(100vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.skip{
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
    padding: 5px 5px 5px 5px;
    position: absolute;
    border-radius: 30px;
    right: 20px;
    top: 20px;
    border: 2px solid #CEA34F;
    cursor: pointer;
    background-color: #44617bdc;
}
.skip span{
    display: block;
  position: relative;
  width: 30px;
  height: 30px;
}
.skip span::before,.skip span::after{
    content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px; /* 棒の幅（太さ） */
  height: 30px; /* 棒の高さ */
  background: #c53d43;
}
.skip span::before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
   
.skip span::after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }

.pamph{
    text-align: center;
}
.pdf_page{
    position: relative;
    padding: 50px 0;
}
#next_pdf,#prev_pdf{
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    border-top: 5px  solid #c53d43;
    border-right: 5px solid #c53d43;
    cursor: pointer;
}
#next_pdf{
    right: 30px;
    rotate: 45deg;
}
#prev_pdf{
    left: 30px;
    rotate: -135deg;
}

.Info_index{
    border: 3px solid #CEA34F;
    padding-right: 15px;
    margin-bottom: 100px;
    margin-top: 30px;
}
section.term{
    justify-content: center;
}
div.each_turm{
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px double #CEA34F;
    margin-bottom: 15px;
    
}
section.place{
    display: flex;
    justify-content: center;
}
section.place div{
    text-align: left;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px double #CEA34F;
    width: 250px;
    margin-bottom: 10px;
}

.Surrounding_map{
    margin: 30px auto 0 auto;
    width: fit-content;
    border:3px solid #CEA34F;
}
section.Sns{
    display: flex;
    justify-content: center;
    margin: 0 30px 30px 30px;
}
section.Sns div{
    display: flex;
    text-align: left;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px double #CEA34F;
}
section.Sns div p{
    font-size: 30px;
    margin: auto 0;
}
section.Sns img{
    width: 70px;
    margin-left: 20px;
}
.Download ,.Groupes{
& .inner_content{
    
& h1{
    text-align: center;
    width: fit-content;
    border: none;
    margin: 0 auto 30px auto;
}
}
}
/* .Download ,.Groupes{
&.inner_content h1{
    text-align: center;
    width: fit-content;
    border: none;
    margin: 0 auto 30px auto;
}
} */
.Download .inner_content h2{
    text-align: center;
    width: fit-content;
    border: none;
    margin-bottom: 30px;
    font-size: 25pt;
}
.Download .inner_content section.Download_Section{
    margin-top: 30px;
}
/* .Download .inner_content div{
    border: 2px solid #CEA34F;
} */
.Cover{
    /* width: 200px; */
    display: inline-flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px; /* 画像間のスペース */
    padding: 20px; /* ボーダーと画像の間のスペース */
    border: 2px solid #CEA34F; /* ボーダーの色と太さ */
}
.Pamphlet{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
.Pamphlet p{
    margin: 0 auto;
}

.Cover img{
    display: block;
    max-width: 300px;
    
}
.Download_intro{
    width: 25%;
    border: 2px solid #CEA34F;
    border-left-style: none;

    margin-top: auto;
    display: block;
}
.Download_intro h3{
    width: fit-content;
    margin: 10px auto 0 auto;
    
}
.Download_intro p{
    margin: 0px 10px;
    display: block;
}
.Download_intro p a{
    /* color: #c53d43; */
    color: #CEA34F;
}
.Download_button{
    cursor: pointer;
    position: relative;
    padding: 10px;
    width: fit-content;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    border: 2px solid #CEA34F;
    text-decoration: none;
& img{
    height: 25px;
}
}
.Download_button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #cea44f00;
    /* clip-path: polygon(-300% 50%,0 100%,0 100%,-300% 50%); */
    clip-path: polygon(400% 50%,100% 100%,100% 100%,400% 50%);
    transition: all .3s ease-out;
    z-index: -1;
}
.Download_button:hover::before{
    content: "";
    background-color: #CEA34F;
    clip-path: polygon(0 0,0 100%,100% 100%,100% 0);
}
.Else_pamphlet{
    margin-bottom: 40px;
    display: flex;
}
.Else_pamphlet div.Row{
    margin: 0 auto;
    width: 35%;
}
div.Row h3{
    font-size: 20pt;
    margin: auto 0;
}
@keyframes drop{
    0%{
        max-height: 72px;
        overflow: hidden;
    }
    99.5%{
        max-height: 400px;
    }
    100%{
        max-height: fit-content;
        height: fit-content;
    }
}
@keyframes drop_rev{
    100%{
        max-height: 72px;
        overflow: hidden;
    }
    0.5%{
        max-height: 400px;
    }
    0%{
        max-height: fit-content;
        height: fit-content;
    }
}
div.animation_d{
    height: fit-content;
    animation: drop 0.2s linear forwards;
}

div.re_animation{
    height: fit-content;
    animation: drop_rev 0.2s linear forwards;
}
.Else_pamphlet div.Row div.Each_Club{
    overflow-y: hidden;
    height: fit-content;
    position: relative;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #CEA34F;
    /* animation: drop_rev 0.2s linear forwards; */
& div.Up_content a{
    display: flex;
    height: 60px;
    margin: auto 0;
    text-decoration: none;
& img.Club_logo{
    height: 70px;
    width: 70px;
    margin: auto 0;
    transform: translateY(-3px);
}
& img.Arrow{
    height: 30px;
    margin: auto 20px auto auto;
    transform: rotateX(180deg);
}
}
}




.Middle_line{
    width: 2px;
    min-height: 100%;
    border-left: 2px solid #CEA34F;
    border-right: 2px solid #CEA34F;
}
.Else_pamphlet section{
display: none;
/* display: flex; */
    color: white;
    margin-top: 15px;
    font-size: 15pt;
    border: 2px solid #CEA34F;
    padding: 10px 10px;
    
& h4{
    height: fit-content;
    margin: auto 0;
    word-break: break-all;
}
}
.Else_pamphlet section a{
    font-size: 12px;
    margin: auto 10px auto auto;
    transform-origin: 0 50%;
& img{
    height: 20px;
}
}
img.rorare_arrow{
    animation: rotate 0.4s linear forwards;
}
img.rorare_arrow_rev{
    animation: rotate_rev 0.4s linear forwards;
}
@keyframes rotate{
    0%{
        transform: rotateX(180deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
@keyframes rotate_rev{
    100%{
        transform: rotateX(180deg);
    }
    0%{
        transform: rotateX(0deg);
    }
}
.width_full{
    width: 100%;
}


/* .part h2::before{
    content: "";
    background-color: white;
    width: 1em;
    height: 0.2em;
    position: absolute;
    left: -0.5em;
    top: 0.6em;
    rotate: 0deg;
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}
.part h2::after{
    content: "";
    background-color: white;
    width: 0.2em;
    height: 1em;
    position: absolute;
    left: -0.5em;
    top: 0.6em;
    rotate: 0deg;
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}

.batsu{
    content:"";
    width: 1em;
    height: 1em;
    position: absolute;
    background-color: white;
    opacity: 0;
    left: -1em;
    top: 0.1em;
    z-index: 7;
    cursor: pointer;
} */

/* table{
    border-color: black;
} */


/* .your-slider img {
    width: 20%;
    height: auto;
} */
.container {
    margin: 30px auto 0;
    /* max-width: 500px; */
    width: 90%;
  }
  /* 中央以外のスライド */
  .slick-img img {
    height: auto;
    opacity: .3; /* // スライドを薄くする */
    transform: scale(.8);/*  // スライドのサイズを80%にする */
    transition: opacity .5s, transform .5s; /* // スライド透過率と拡大のアニメーション時間を0.5秒に設定 */
    width: 100%;
  }
  /* 中央のスライド */
  .slider .slick-center img {
    opacity: 1; /* // 中央のスライドは透過しない */
    transform: scale(1); /* // 中央のスライドは小さくしない */
  }

  .slick-dots li {
    margin: 0 8px; /* ドット間の余白を調整 */
}

.slick-dots li button {
    border: none;
    background: #CEA34F; /* 非アクティブドットの色 */
    border-radius: 50%; /* ドットを丸くする */
    width: 10px; /* ドットの幅を大きくする */
    height: 10px; /* ドットの高さを大きくする */
    cursor: pointer;
    padding: 0;
    font-size: 0; /* 数字が表示されないようにフォントサイズを0にする */
    line-height: 0;
}

.slick-dots li.slick-active button {
    background-color: #c53d43; /* アクティブなドットの色 */
}

.slick-dots li button:before{
    display: none;
}
.slick-next,.slick-prev{
    width: 20px;
    height: 20px;
    border-top: 2px solid #CEA34F;
    border-right: 2px solid #CEA34F;
}
.slick-next{
    -webkit-transform:translateX(-70%) rotate(45deg);
}
.slick-prev{
    -webkit-transform:translateX(70%) rotate(-135deg);
}

.slick-next::before,.slick-prev::before{
    content: "";
}
figure{
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #c53d43;
    clip-path: polygon(0 15px,0 calc(100% - 15px),15px 100%,calc(100% - 15px) 100%,100% calc(100% - 15px),100% 15px,calc(100% - 15px) 0,15px 0);
}
figcaption{
    color: white;
    font-size: 20pt;
    margin-right: 100px;
}
audio{
    border: 3px solid #CEA34F;
    border-radius: 30px;
}
audio::-webkit-media-controls-panel {
    background-color: #44617b; /* コントロールパネルの色を変更 */
}
h2.voice{
    border-style: none;
    text-align: center;
}