.buttons{
    height: fit-content;
    margin: 0 100px 0 100px;
    text-align: center;
}

.button_ts{
    border: 2px solid red;
    position: relative;
    text-decoration: none;
    color: black;
    background-color: red;
    border-radius: 80px;
    margin: 0 5px 10px 5px;
    text-align: center;
}

.button_ts:hover{
    background-color: aqua;
}


.buttons_top,.buttons_buttom{
    margin-bottom: 0px;
    justify-content: center;
    display: flex;
    /* flex-wrap: wrap; */
    list-style: none;
}
.b_days{
    padding: 10px 5px;
    /* margin: 0 20px 60px 20px; */
}

.buttons_top{
    margin-bottom: 30px;
}
.button_li{
    position:relative;
    margin: 10px 10px;
}
/* #d2{
    display: none;
}
#d3{
    display: none;
}
 */

.time_st{
    right: 1em;
    font-size: 16px;
    text-align: right;
    width: 5em;
    margin-left: -7.125em;
    position: relative;
    vertical-align: top;
    display: inline-block;
}
.time_fi{
    font-size: 16px;
    text-align: right;
    width: 5em;
    margin-left: -6em;
    position: relative;
}
.time_fi::after{
    /* content: "";
    position: absolute;
    top: 0.1em;
    right: -2.25em;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 13px solid yellow;
    border-right: 13px solid transparent;
    border-bottom: 5px solid yellow;
    border-left: 13px solid transparent; */
    /* border-radius: 50%; */
    /* background-color: red; */
}
.time_st::after{
    content: "";
    position: absolute;
    top: 2px;
    right: -2.125em;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid purple;
    /* border-right: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid transparent; */
    border-radius: 50%;
    background-color: purple;
}
.time_table_ul{
    min-width: 393px;
    margin:0 100px 0 100px;
    border-left: 8px solid purple;
    background-color: white;
    list-style: none;
}
.sch_box{
    min-width: 410px;
    display: block;
    /* padding-left: 30px; */
    font-size: 25px;
}
.time_table_ul li{
    
    background-color: lightslategray;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}
p.sch_title{
    font-weight: 600;
}
p.sch_txt{
    font-size: 20px;
}